*{
  margin: 0px;
}
#app-container{
  display: flex;
  height: 100vh;
}

#reactLoader {
  margin: 30px;
  text-align: center
}


.stateProp {
  border: 1px solid greenyellow;
  position: absolute;
  z-index: 1;
  background-color: #FFB6C1;

}

/* For window  */
#window{
  display: flex;
  flex-flow: column;
  width: 100%;
}
.window-btn{
  width: 50%;
  border: solid 1px black;
  border-radius: 0px;
  font-size: 15px;
  font-weight: 600;
  padding: 5px 0;
  cursor: pointer;
}
.window-btn:focus{
  outline: none;
}

#treeWrapper {
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}