*{
  margin: 0px;
}

#app-container{
  display: flex;
  height: 100vh;
  background: #8e9eab;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}

#reactLoader {
  margin: 30px;
  text-align: center
}
.reactTab {
  display: flex;
  flex-direction: row;
}
.graphQLTab {
  display: flex;
  flex-direction: row;
}
.state-prop {
  position: absolute;
  background-color: #333;
  color: white;
  z-index: 999;
  padding: 10px;
  max-width: 300px;
}

#vr-log{
  border-left: 1px solid #000;
  height: 100vh;
  margin: 0px;
}

/* .toolTip {
  position: relative;
} */

/* For window  */
#window{
  display: flex;
  flex-flow: column;
  width: 100%;
  margin: 0px;
}
#window-nav {
  margin-top: 40px;
  text-align: center;
}
.window-btn-wrapper {
  width: 50%;
  box-sizing: border-box;
  padding: 30px;
}
.window-btn{
  width: 30%;
  box-sizing: border-box;
  border: solid 1px white;
  color: white;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: Transparent;
  font-size: 15px;
  padding: 5px 0;
  cursor: pointer;
  font-family: 'Avenir';
}
.window-btn:focus{
  outline: none;
}
.window-btn:hover{
  background-color: white;
  color: black;
}
.active{
  background-color: white;
  color: black;
}
