@import url('https://fonts.googleapis.com/css?family=Roboto:300');
*{
  margin: 0px;
}

body{
  background: linear-gradient(to right, #ffffff, #e2ebf0); 
} 

h2{
  font-family: 'Avenir';
  letter-spacing: 1px;
  font-weight: 100;
  font-size: 1.5em;
  padding: 5px;
  text-transform: uppercase;
}

#app-container{
  display: flex;
  flex-flow: column;
  padding: 10px;
  max-height: 95%;
}

/* * Sepreate */
#treeWrapper{
  grid-area: tree;
  height: 700px;
  padding: 10px;
  margin-left: 10px;
  font-family: 'Roboto';
  font-size: .9em;
  letter-spacing: 1.5px;
}
#treeButtons{
  text-align: center;
}

.rd3t-tree-container{
  margin-top: 15px;
  height: 90%!important;
}

.pre-tag {
  white-space: pre-wrap;
}  

button{
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1.15px;
  border: solid 1px rgba(214, 214, 214);
  border-radius: 4px;
  padding: 0px 6px;
  height: 20px;
  cursor: pointer;
  font-family: 'Avenir';
  transition: all .4s ease;
  margin: 5px;
}

.toggleOn {
  background-color: rgba(214, 214, 214, 0.8);
  color: white;
}

/* * for window */
.hide{
  display: none!important;
}