#graphql-container {
  width: 75%;
  /* border: 1px solid #f2f2f2; */
  /* border-radius: 5px; */
  margin-left: 20px;
  min-height: 600px;
}

#req-res{
  display: flex;
}

#graphql {
  width: 50%;
  padding: 10px;
}

#graphql-res {
  width: 50%;
  padding: 10px;
}

#graphql-schema {
  overflow-y: scroll;
  max-height: 90%;
  padding: 10px;
}

.graphql {
  padding: 5px;
}

.graphql-p {
  margin-top: 10px; 
}

.graphql-span {
  margin: 6px;
  font-size: 1.3em;
  font-weight: 500;
  letter-spacing: 0.8px;
  line-height: 15px;
}