#log-container{
  padding: 10px;
  width: 250px;
  background-color: rgba(214, 214, 214, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  max-height: 600px;
}

#log-title{
  text-align: center;
}

#logs{
  overflow-y: scroll;
  max-height: 95%;
}
.log{
  overflow-x: scroll;
  padding: 15px;
  background:rgba(255,255,255,0.5);
  margin: 8px 0px;
}

.log-p{
  margin: 5px 0px;
}

.log-span{
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: 0.50px;
  margin: 5px 0px;
}