#log-container{
  padding: 10px;
  width: 25%;
}
#log-hr{
  margin: 10px 0px;
}
#logs{
  overflow-y: scroll;
  max-height: 95%;
}
.log{
  overflow-x: scroll;
  padding: 5px;
}
.log:not(:last-child){
  border-bottom: 1px solid grey;
}
.log-p{
  margin: 5px 0px;
}
.pre-json{
  font-weight: 600;
  font-size: 1.250em;
  margin: 5px 0;
  letter-spacing: 0.05em;
}