#stateDiff-container{
  padding: 10px;
  width: 40%;
  overflow-y: scroll;
  height: 100vh;
  max-height: 95%;
}

.stateDiff-div{
  overflow-x: scroll;
  padding: 20px;
  background:rgba(255,255,255,0.5);
  margin: 4px;
}