#stateDiff-container {
  grid-area: diff;
  max-height: 500px;
  overflow-y: scroll;
  padding: 10px; 
}

#state-header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.stateDiff-div {
  overflow-x: scroll;
  font-size: .9em;
  line-height: .8em;
  letter-spacing: 0.50px;
  background-color: rgba(255, 255, 255);
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
  0 5px 15px 0 rgba(0,0,0,0.08);
  margin-bottom: 15px;
  padding: 10px;
}

.state-span{
  margin: 6px;
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: 0.8px;
  line-height: 15px;
}